/* highlight links when hovering */
.nav-link:hover {
  font-size: 20px;
}

/* highlight page that is currently selected */
.nav-link.active {
  font-weight: bold;
}

.profile-image {
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.navbarHeader {
  background-color: #f4f4f4;
  height: 60px;
}

.container {
  margin-top: 3em;
  margin-bottom: 7em;
  padding: "20px";
  font-size: 18px;
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.2)";
}

.contact-me {
  margin-bottom: 40px;
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.2)";
}

.contact-container {
  margin-top: 8em;
  margin-bottom: 8em;
}

.contact-container .btn {
  background-color: black;
  margin-top: 20px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.contact-container .btn:hover {
  background-color: black;
  opacity: 0.5;
  transform: scale(1.05);
}

html {
  background-color: #f4f4f4;
}

#root {
  background-color: #f4f4f4;
}

.dev-name {
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.2)";
}

.dev-tittle {
  margin-bottom: 100px;
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.2)";
}

/* Footer.css */

.footer {
  background-color: #f4f4f4;
  height: 60px;
}

.icons {
  color: black;
}

/* project cards */

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Increase the scale on hover for a pop-out effect */
}

#download-btn {
  background-color: black;
  margin-top: 20px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

#download-btn:hover {
  background-color: black;
  opacity: 0.5;
  transform: scale(1.05);
}

#skills-container {
  margin-top: 10em;
  margin-bottom: 10em;
}
